{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "overrides": [
    {
      "files": ["./src/**/*.{ts,tsx}"],
      "env": {
        "jest": true
      }
    }
  ],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "rules": {
    "arrow-body-style": "off",
    "no-nested-ternary": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }]
  }
}
